@{ ViewData["Title"] = "Home Page"; }

<div class="row">
    <div class="col-sm-4">
        <div class="card card-color">
            <div class="card-body">
                <h5 class="card-title">Estudiantes</h5>
                <p class="card-text">Administrar todos los estudiantes</p>
                <a href="@Url.Action("Index","Estudiante")" class="btn btn-primary">Ir administrar &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-color">
            <div class="card-body">
                <h5 class="card-title">Carreras</h5>
                <p class="card-text">Administrar todas las carreras</p>
                <a href="@Url.Action("Index","Carrera")" class="btn btn-primary">Ir administrar &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-color">
            <div class="card-body">
                <h5 class="card-title">Materias</h5>
                <p class="card-text">Administrar todas las materias</p>
                <a href="@Url.Action("Index","Materia")" class="btn btn-primary">Ir administrar &raquo;</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-sm-4">
        <div class="card card-color">
            <div class="card-body">
                <h5 class="card-title">Profesores</h5>
                <p class="card-text">Administrar todos los profesores</p>
                <a href="@Url.Action("Index", "Profesor")" class="btn btn-primary">Ir administrar &raquo;</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-color">
            <div class="card-body">
                <h5 class="card-title">Grupos</h5>
                <p class="card-text">Administrar todos los grupos</p>
                <a href="@Url.Action("Index", "Grupo")" class="btn btn-primary">Ir administrar &raquo;</a>
            </div>
        </div>
    </div>
</div>
<style>
    /* Configuracion de color para tarjetas */
    .card-color {
        background-color: #2c3e50;
        color: white;
    }
</style>
