@model ADSProject.Models.GrupoViewModel

@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<CarreraViewModel> lstCarreras = new List<CarreraViewModel>();

    lstCarreras = ViewBag.Carreras;

    List<MateriaViewModel> lstMaterias = new List<MateriaViewModel>();

    lstMaterias = ViewBag.Materias;

    List<ProfesorViewModel> lstProfesor = new List<ProfesorViewModel>();

    lstProfesor = ViewBag.Profesor;
}

<h1>Form</h1>

<h4>GrupoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <input type="hidden" id="operacion" value="@ViewData["Operaciones"]" />
        <input type="hidden" id="_redirectURL" value="@Url.Action("Index", "Grupo")" />
        <form asp-action="Form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="idGrupo" class="form-control" type="hidden" />

            </div>
            <div class="form-group">
                <label asp-for="idCarrera" class="control-label"></label>
                <select asp-for="idCarrera" class="form-control">
                    <option selected disabled>Seleccione una Carrera</option>
                    @foreach (var item in lstCarreras)
                    {
                        <option value="@item.idCarrera">@item.NombreCarrera</option>
                    }
                    <span asp-validation-for="idCarrera" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="idMateria" class="control-label"></label>
                <select asp-for="idMateria" class="form-control">
                    <option selected disabled>Seleccione una Materia</option>
                    @foreach (var item in lstMaterias)
                    {
                        <option value="@item.idMateria">@item.nombreMateria</option>
                    }
                    <span asp-validation-for="idMateria" class="text-danger"></span>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="idProfesor" class="control-label"></label>
                <select asp-for="idProfesor" class="form-control">
                    <option selected disabled>Seleccione un Profesor</option>
                    @foreach (var item in lstProfesor)
                    {
                        <option value="@item.idProfesor">@item.nombreProfesor</option>
                    }
                    <span asp-validation-for="idProfesor" class="text-danger"></span>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="ciclo" class="control-label"></label>
                <input asp-for="ciclo" class="form-control" />
                <span asp-validation-for="ciclo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="anio" class="control-label"></label>
                <input asp-for="anio" class="form-control" />
                <span asp-validation-for="anio" class="text-danger"></span>
            </div>
            <input type="checkbox" asp-for="estado" value="true" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function () {
            // Cuando la operacion sobre el formulario es de lectura.
            if ($("#operacion").val() == "leer") {
                $("form").find("input,select").attr("disabled", true);
            }
        });
        // agregando ajax
        $("form").addClass("form-ajax");
        // activando ajax
        initAjaxForm();
       
    </script>

    
}
