@model IEnumerable<ADSProject.Models.ProfesorViewModel>
@using ADSProject.Utils
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <h3>Profesor</h3>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-success d-block" asp-action="Form"
                   asp-route-operaciones="@Operaciones.agregar">Agregar Profesor</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.idProfesor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nombreProfesor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.apellidoProfesor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.correoEstudiante)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.idProfesor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombreProfesor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.apellidoProfesor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.correoEstudiante)
                            </td>
                            <td>
                                <a class="btn btn-primary"
                                   asp-route-idProfesor="@item.idProfesor"
                                   asp-action="Form"
                                   asp-route-operaciones="@Operaciones.modificar">Modificar</a>
                                <a class="btn btn-warning"
                                   asp-route-idProfesor="@item.idProfesor"
                                   asp-action="Form"
                                   asp-route-operaciones="@Operaciones.leer">Leer</a>
                                <a class="btn btn-danger eliminar"
                                   asp-route-idProfesor="@item.idProfesor"
                                   asp-action="Delete">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>



